<!DOCTYPE html>
<html lang="en">
    <head>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <title>
          {% block title %} {% endblock title %}
      </title>

      {% block head %}
      {% endlbock head %}

    </head>
    <body style="background-color:#1d11b5;">
      <br>

      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#808080;">

        <a class="navbar-brand" href="#">
          <img scr="https://cdn.dribbble.com/users/2411363/screenshots/6620799/dribbb.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          <strong>Shipbuilder's Guide to the Galaxy</strong>
        </a>
        <a href=../static/help.html target="_blank"><input type="button" value="Help/FAQ"></a>
      </nav>

      {% block body %}
      {% endblock body %}

      <br><br><br>
      <footer style="background-color:#808080;" class="page-footer font-small">
        <br>

        <div class="row">

          <div class="col-sm-4">

            <h5>Shipbuilder's Guide to the Galaxy</h5>
            <p class="footer-copyright">@ Copyright 2019</p>
            <p>Powered by Quarternary Star System</p>

          </div>

          <hr class="clearfix w-80 d-md-none pb-3">

          <div class="col-sm-2">

            <h5>Wikipedia API</h5>
            <p>link</p>

          </div>

          <div class="col-sm-2">

            <h5>NASA API</h5>
            <p>link</p>

          </div>

          <div class="col-sm-2">

            <h5>Wolphram Alpha API</h5>
            <p>link</p>

          </div>

        </div>

      </footer>

    </body>
</html>
