<!DOCTYPE html>
<html lang="en">
    <head>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% block title %} <title>Search Engine</title> {% endblock %}


    </head>
    <body style="background-color:#7649fe;">

      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#808080;">

        <a class="navbar-brand" style="color:white;" href="../">
          Shipbuilder's Guide to the Galaxy
        </a>
        <a href=../static/help.html target="_blank"><input type="button" class="rounded-0" value="Help/FAQ"></a>
        <a href=../static/explanation.html target="_blank"><input type="button" class="m-1 rounded-0" value="Explanation"></a>
      </nav>

      <br><br>

      {% block content %}

        <br><br><br>

        <h1 style="color:white;" class="p-2">{{ message }}</h1><br>

        <form action="/results" method="GET"> <!--GET because user security isn't applicable!-->
          <div class="form-group p-3">
            <label for="query"><h3>Please input your query here.</h3></label>
            <input type="text" required="required" name="query" class="form-control" id="query"  placeholder="how much fuel to reach kepler-10c using merlin 1d in 20 years"><br>
            <button style="background-color:lightgrey;" type="submit" class="btn rounded-0">Submit</button>
          </div>
        </form>

        <br><br><br>

      {% endblock %}

      <br><br><br><br>
      <footer style="background-color:#808080; color:white;" class="font-small p-2">
        <br>
        <div class="row">
          <div class="col-sm-6" style="color:white;">
            <h6>Shipbuilder's Guide to the Galaxy</h6>
            <h6>@ Copyright 2019</h6>
            <h6>Powered by Quarternary Star System</h6>
          </div>
          <hr class="clearfix w-80 d-md-none pb-3">
          <div class="col-sm-6 text-right">
            <h6><a target="_blank" href="https://docs.google.com/document/d/1KNf_h_Rysiftc88uZNZO4LMpAyQprUTSj-eg5CMz9a8/edit" style="color:black;">Wikipedia API</a></h6>
            <h6><a target="_blank" href="https://docs.google.com/document/d/1J5PAzkRvPBrzud4jhXBX3yZZtMhlTx1KmLQezlLszEk/edit" style="color:black;">NASA Exoplanets API</a></h6>
            <h6><a target="_blank" href="https://docs.google.com/document/d/1GLX_8-HKjzI7kHLleQikTbWZ0orXhYVnabveE6T6J8M/edit" style="color:black;">Wolfram|Alpha API</a></h6>
          </div>
        </div>
      </footer>

    </body>
</html>
